body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
}

.container {
  margin-top: 50px;
}

#building-map {
  cursor: pointer;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

#popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 20px;
  border-radius: 10px;
  z-index: 1000;
}

#popup-content {
  text-align: center;
}

button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #007acc;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #005f99;
}


